<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'layout.html' %}
    {% block header %}About Us{% endblock %}
    {% block maincontent %}We are the leading Pet Store in the Quezon Province. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora deserunt a ipsa excepturi, natus iure odio aut enim aspernatur. Placeat magni iste minima voluptas, eius dolorem recusandae laboriosam amet earum!{% endblock %}
</body>
</html>