<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'layout.html' %}
    {% block header %}Jnar Pet Store{% endblock %}
    {% block maincontent %}Main content of index.html Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veniam recusandae laudantium, assumenda officiis quis molestiae hic perspiciatis deleniti voluptas incidunt sed ut corporis dignissimos in labore, tempora ipsa placeat!{% endblock %}
</body>
</html>